* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.table {
    border: 1px solid black;
    position: relative;
}

.table--simple {
    flex-grow: 1;
    background-color: pink;
    overflow-y: hidden;
}

.table--fixed {
    flex-grow: 1;
    background-color: yellow;
    max-width: 20%;
}

.table-head {
}

.table-body {
}

.cell {
    display: flex;
}

.row {
    flex-grow: 1;
    min-width: 300px;
    padding: 8px;
    border-bottom: 1px solid gray;
}

.row--head {
    font-weight: bold;
    text-transform: uppercase;
}

.row--fixed {
    background-color: white;
    position: sticky;
    right: 0;
}
